*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: #6f97c9;
     /*background: rgb(2,0,36);
    background: linear-gradient(106deg, rgba(2,0,36,0.8681181146857444) 0%, rgba(9,9,121,0.8484551933374298) 13%, rgba(255,132,0,0.834410249517205) 100%);
    */
    background: url('Nitro_Wallpaper_06_3840x2400.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}
.logo {
    font-size: 2em;
    color: rgb(255, 255, 255);
    user-select: none;

}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after {
    transform: scale(1);
    transform-origin: left;
}
.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;    
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #000000;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgb(23, 0, 152);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease,height .2s ease;
}
.wrapper.active-popup {
    transform: scale(1);
}
.wrapper.active {
    height: 520px;
    
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
    height: 800 px;
}
.wrapper .icon-close {
    position: absolute ;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgb(23, 0, 152);
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px ;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2em;
    color: rgb(23, 0, 152);
    text-align: center;

}
.form-group{
    color: rgb(23, 0, 152);
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(23, 0, 152);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateX(-50%);
    font-size: 1em;
    color: rgb(23, 0, 152);
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(23, 0, 152);
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(23, 0, 152);
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: rgb(23, 0, 152);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label input {
    accent-color: rgb(23, 0, 152) ;
    margin-right: 3px;

}

.remember-forgot a {
    color: rgb(23, 0, 152);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;

}

.btn {
    width: 100%;
    height: 45px;
    background: rgb(23, 0, 152);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register {
    font-size:  .9;
    text-align: center;
    font-weight: 500;
margin: 25px 0 10px;

}

.login-register p a {
    color: rgb(23, 0, 152);
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;
}